doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/form.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js' type='text/javascript')
  body
    block content
